$green: rgb(92, 184, 92);
$red: rgb(217, 83, 79);
$orange: rgb(240, 173, 58);
$blue: rgb(66, 139, 202);

$base-margin: 6px;
$header-height: 6 * $base-margin;


.fixed {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;

	background: rgba(0, 0, 0, 0.5);
	display: flex;
	display: -webkit-flex;
	align-items: center;
	-webkit-align-items: center;
	justify-content: center;
	-webkit-justify-content: center;
	z-index: 999;

}


body.jd-modal .blur,
body.modal-open .blur {
	-webkit-filter: blur(10px);
}
.blur {
	transition: -webkit-filter 0.66s ease-out;
	-webkit-filter: blur(0px);
}

.away {
	pointer-events: none;
	opacity: 0;
}

.socket-monitor {
	&.connected .message {
		color: $green;
	}
	&.reconnecting .message {
		color: $red;
	}
	.message {
		border-radius: 2px;
		width: 600px;
		text-align: center;
	}

	transition: opacity 0.3s ease-in;
}


.visual-alert {
	font-size: 5em;
	font-weight: 900;
	padding: 0em 2em;
	color: white;
	text-shadow: 2px 2px 4px #000;
}

.screen-saver {
	background: rgba(0,0,0, 0.75);

	z-index: 998;
	overflow: hidden;
	display: flex;
	align-items: center;
	-webkit-align-items: center;
	justify-content: center;
	transition: opacity 0.3s ease-in;

	img.gif {
		width: 100%;
		cursor: none;
	}
	.logo {
		position: absolute;
		z-index: 1000;
		bottom: 10px;
		right: 10px;
		width: 75px;
		height: 30px;
		border: 1px solid white;
		background: url(img/Giphy_API_Logo_ForWhite.gif);
	}
}


.jobs-container {
	padding: 2 * $base-margin;
	padding-top: 2 * $base-margin;
}

body {
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
	user-select: none;

	&.broken {
		background-color: $red;
		.title { color: $red; }
	}
	&.unstable {
		background-color: $orange;
		.title { color: $orange; }
	}
	&.ok {
		background-color: $green;
		.title { color: $green; }
	}
}

.dashboard-header {
	display: flex;
	display: -webkit-flex;
	height: $header-height;
	.controls {

		padding-left: 2*$base-margin;
		padding-top: 2*$base-margin;
		width: 400px;
		margin-right: auto;

		.job-filter {
			.job-filter-input-group {
				input {
					padding-left: 35px;
					font-size: 20px;
					border-radius: 0px;
				}
				i {
					opacity: 0.5;
					position: absolute;
					z-index: 3;
					margin-left: 2 * $base-margin;
					top: 22px;
				}
			}
		}
	}
	.alert-container {
		display: flex;
		display: -webkit-flex;
		.alert {
			margin: auto 0px;
			padding: 5px 2*$base-margin;
			height: $header-height - $base-margin;
			.close {
				margin-left: 2*$base-margin;
			}
		}
		margin-right: 2*$base-margin;
	}
}

.conf-modal {
	ul.nav.nav-tabs { display: none; }

	.alerts-sentences .input-group { margin-bottom: $base-margin/2; }
}

.job-item {
	position: relative;

	.job-content {
		position: absolute;
		display: flex;
		display: -webkit-flex;
		align-items: center;
		-webkit-align-items: center;
		height: 3em;
		width: 100%;
		background: transparent;
		overflow: hidden;
		white-space: nowrap;
	}

	.job-progress {
		display: none;
		overflow: hidden;
		.job-content {
			width: 2000px;
		}
		a {
			color: white;
		}
	}

	&.job-building .job-progress {
		display: block;
		width: 0%;
		position: absolute;
		line-height: 3em;
		height: 3em;
		background: rgb(66, 139, 202);
		box-shadow: inset 0 1px 5px rgba(0, 0, 0, .3);
		margin-bottom: 1px;
		color: white;
		transition: width 1.5s linear;
	}

	span.vnc-link i:hover {
		color: #ffcc00;
	}

	margin-bottom: 1px;
	line-height: 3em;
	height: 3em;

	span {
		margin: 6px;
		max-width: 142px;
		overflow: visible;
	}
	.name {
		display: inline;
		margin: 0px;
	}
	.time-left {
		font-size: 0.75em;
	}

	.job-status {
		width: 3em;
		display: inline-block;
		border-radius: 2px;
	}

	&.bg-success i {
		color: $green;
	}

}

.modal-backdrop {
	bottom: 0px;
	z-index: 999;

	&.am-fade {
		opacity: .5;
		transition: opacity .15s linear;
		&.ng-enter {
			opacity: 0;
			&.ng-enter-active {
				opacity: .5;
			}
		}
		&.ng-leave {
			opacity: .5;
			&.ng-leave-active {
				opacity: 0;
			}
		}
	}
}


.modal.center .modal-dialog {
	position: fixed;
	top: 40%;
	left: 50%;
	min-width: 320px;
	max-width: 450px;
	width: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%)
}

@-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
	0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

i.loading-viewname {
	animation: spin 2s infinite;
	-webkit-animation: spin 2s infinite;
}

.bg-aborted {
	background-color: #ccc;
}
.bg-notbuilt {
	background-color: #fff;
}

