<!doctype html>
<html ng-app="JenkinsDashboard" ng-controller="IndexCtrl">
	<head>
		<meta charset="utf-8">
		<meta name="language" content="english">
		<title ng-bind="pageTitle"></title>
		<!-- inject:app-style:css --><!-- endinject -->
		<!-- inject:assets:css --><!-- endinject -->
	</head>
	<body ng-class="{'broken': somethingBroken}">

		<socket-monitor></socket-monitor>
		<screen-saver></screen-saver>
		<job-filter></job-filter>

		<div 
			class="jobs-container" 
			ng-mousemove="mouseHandler()"
			ng-click="mouseHandler()">
			
			<job-item 
				ng-repeat="job in jobsArray | filterByConfiguration:lastBuild | orderBy:orderByConfiguration" 
				job="job" 
				details="details[job.name]"
				last-build="lastBuild[job.name]"></job-item>
		</div>

		<!-- inject:assets:js --><!-- endinject -->
		<!-- inject:app:js --><!-- endinject -->

	</body>
</html>