<div class="form-group">
	<div class="checkbox">
		<label>
			<input type="checkbox" ng-model="conf.useScreenSaver"> 
			I want to see a random animated gif if builds are green
		</label>
	</div>
</div>

<div class="form-horizontal" ng-if="conf.useScreenSaver">
	<div class="form-group">
		<label class="col-sm-5 control-label">topic</label>
		<div class="col-sm-5"><input type="text" class="form-control" ng-model="conf.topic"></div>
	</div>

	<div class="form-group">
		<label class="col-sm-5 control-label">rotation (mins)</label> 
		<div class="col-sm-5"><input type="text" class="form-control" ng-model="conf.rotation"></div>
	</div>
</div>

<div class="form-group">
	<div class="checkbox">
		<label>
			<input type="checkbox" ng-model="conf.useFixedScreenSaver"> 
			I want to see a fixed image if builds are green
		</label>
	</div>
</div>

<div class="form-group" ng-if="conf.useFixedScreenSaver">
	<label class="control-label">Image URL (whatever fits an &lt;img&gt; tag)</label>
	<input type="text" class="form-control" ng-model="conf.fixedScreenSaver">
</div>

<div ng-if="conf.useFixedScreenSaver || conf.useScreenSaver">
	<hr>
	<div class="form-horizontal">
		<div class="form-group">
			<label class="col-sm-5 control-label">timeout (mins)</label> 
			<div class="col-sm-5"><input type="text" class="form-control" ng-model="conf.timeout"></div>
		</div>
	</div>
</div>