<div class="form-group">
	<div class="checkbox">
		<label>
			<input type="checkbox" ng-model="conf.useVisualAlerts"> 
			I want to see a visual alert when something went wrong
		</label>
	</div>
</div>

<div class="form-group">
	<div class="checkbox">
		<label>
			<input type="checkbox" ng-model="conf.useSpeechSynthesis"> 
			I want to hear an alert when something went wrong
		</label>
	</div>
</div>


<div class="form-horizontal" ng-if="conf.useSpeechSynthesis">
	<div class="form-group">
		<label class="col-sm-5 control-label">mute button (mins)</label> 
		<div class="col-sm-5"><input type="text" class="form-control" ng-model="conf.muteForMinutes"></div>
	</div>
</div>

<div class="form-horizontal" ng-if="conf.useSpeechSynthesis">
	<div class="form-group">
		<label class="col-sm-5 control-label">voice</label>
		<div class="col-sm-5">
			<select class="form-control"
					ng-model="conf.voice"
					ng-options="option for option in availableVoices">

			</select>
		</div>
	</div>
</div>

<div class="form-group" ng-if="conf.useSpeechSynthesis || conf.useVisualAlerts">

	<label>
		Use {#1} for job name, {#2} for culprit
	</label>

	<div class="form-group alerts-sentences">
		<div class="input-group" ng-repeat="sentence in conf.voiceTemplates.brokenBuild track by $index">
			<input 
				name="address"
				class="form-control" 
				ng-model="conf.voiceTemplates.brokenBuild[$index]">

			<span class="input-group-btn">
				<button class="btn btn-danger" ng-click="sentences.remove($index)">
					<i class="glyphicon glyphicon-remove"></i>
				</button>
				<button class="btn btn-info" ng-click="sentences.test($index)">
					<i class="glyphicon glyphicon-volume-up"></i>
				</button>
			</span>
		</div>
	</div>


	<div>
		<button class="btn btn-block btn-success" ng-click="sentences.add()">Add</button>
		<button class="btn btn-block btn-danger" ng-click="sentences.reset()">Reset sentences to defaults</button>
	</div>
</div>
