<div class="modal" ng-controller="confModalCtrl">
	<div class="modal-dialog">
		<div class="modal-content">

			<div class="modal-header">
				<button type="button" class="close" ng-click="$hide()">×</button>
				<h4 class="modal-title">Hey there</h4>
			</div>

			<div class="modal-body">
				<form role="form" name="form">

					<div class="form-group">
						<label>Server address</label>

						<div class="input-group">
							
							<input 
								name="address"
								class="form-control" 
								ng-placeholder="Server address, like localhost:4000 or something" 
								ng-model="conf.address">

							<span class="input-group-btn">
								
								<button 
									ng-click="reload()" 
									ng-disabled="form.address.$pristine"
									class="btn btn-warning" 
									type="button"> Reload
								</button>

							</span>
						</div>
						</div>

					<div class="select-order">
						<label>Order of jobs</label>
						<form>
							<br><input type="radio" ng-model="conf.order" value="name"> By name</input>
							<br><input type="radio" ng-model="conf.order" value="broken"> Broken &gt; Running &gt; By Name</input>
							<br><input type="radio" ng-model="conf.order" value="running"> Running &gt; Broken &gt; By Name</input>
						</form>
					</div>

					<div class="checkbox">
						<label>
							<input type="checkbox" ng-model="conf.useScreenSaver"> 
							Reward yourself with a screen saver if builds are green
						</label>
					</div>

					<div class="form-group" ng-if="conf.useScreenSaver">

						<label>Screensaver topic (eg: "dog loop")</label>
						<input type="text" class="form-control" ng-model="conf.topic">

						<label>Screensaver timeout (minutes)</label> 
						<input type="text" class="form-control" ng-model="conf.timeout">

						<label>Rotation timeout (minutes)</label> 
						<input type="text" class="form-control" ng-model="conf.rotation">
					</div>

				</form>
			</div>

		</div>
	</div>
</div>
