<!DOCTYPE html>
<html lang="en">
<head >
	<meta http-equiv="refresh" content="4">
	<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/masonry/3.1.2/masonry.pkgd.min.js"></script>
	<link rel=stylesheet type="text/css" href="css/main.css"></link>
</head>
<body background="background.jpg">
<h1 style = "text-align: center;">Dashboard</h1>

<div class='flows'>
	<h2>Flow Projects</h2>

	{% for flowProject in allFlowsResults %}
		<h4> {{ flowProject.flowName }} </h4>

	<div class="masonry js-masonry"  data-masonry-options='{ "isFitWidth": true, "gutter": 10}'>
		{% for job in flowProject.jobsResults %}
			<div style="vertical-align: middle;text-align: center;width: 300px; height: 20px;box-shadow: 10px 10px 5px #888888;
				max-width: 100%; 
				margin: 10px 20px 10px 10px;
				background-color:
				{% if job.jobStatus == 'Scheduling' %} gray 
				{% elif job.jobStatus == 'Building' %} yellow
				{% elif job.jobStatus == 'Completed' %} green
				{% else %} red {% endif %}"> <b> {{job.jobName}} </b>

		<!--	<p style="border-style: solid;border-width: 1px;  background-color:
				</p> -->
			</div>
		{% endfor %}
	</div>
	{% endfor %}
</div>

<h2>Next-JS</h2>
<div class="masonry js-masonry"  data-masonry-options='{ "columnWidth": ".job", "itemSelector": ".job", "isFitWidth": true, "gutter": 10}'>
	
	{% for jobWithStatus in jobsWithStatuses %}
	<div class="job" style="background-color: {% if jobWithStatus.flagIsBuilding == 'true' %} yellow {% elif jobWithStatus.buildResultStatus == 'SUCCESS' %} green {% elif jobWithStatus.buildResultStatus == 'FAILURE' %} red {% else %} gray {% endif %};">
			{{jobWithStatus.jobName}}
			<a href="{{jobWithStatus.linkOnJenkins}}" target = "_blank"> view on jenkins </a>
	</div>
	{% endfor %}
</div>

<div class='culprits'>
	<h2>Culprits</h2>
	{% if failuresWithCulprits.length > 0 %}
	<ul>
		{% for failure in failuresWithCulprits %}
			<li>{{failure|join(': ')}}</li>
		{% endfor %}
	</ul>
	{% endif %}
</div>



</body>
</html>