<!DOCTYPE html>
<html lang="en">
<head >
	<meta http-equiv="refresh" content="40">
	<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/masonry/3.1.2/masonry.pkgd.min.js"></script>
	<link rel=stylesheet type="text/css" href="css/main.css"></link>
</head>
<body background="background.jpg">
<h1 style = "text-align: center;">Dashboard</h1>

<div class='flows'>
	<h2>Flow Projects</h2>

	{% for flowProject in allFlowsResults %}
		<h4> {{ flowProject.flowName }} </h4>
		{% if flowProject.isLastFlowBuilding %}
			<img src="loading.gif" alt="Another Build is running .." width="100" height="100">
		{% endif %}
	<div class="masonry js-masonry"  data-masonry-options='{ "isFitWidth": true, "gutter": 10}'>
		{% for job in flowProject.jobsResults %}
			<div style="vertical-align: middle;text-align: center;width: 310px; height: 50px;box-shadow: 10px 10px 5px #888888;
				max-width: 100%; 
				margin: 10px 20px 10px 10px;
				background-color:
				{% if job.jobStatus == 'Scheduling' || job.jobStatus == 'Building'  %} gray
				{% elif job.jobStatus == 'Unstable' %} yellow
				{% elif job.jobStatus == 'Completed' %} green
				{% else %} red {% endif %}"> <h4> {{job.jobName}} </h4>
			</div>
		{% endfor %}
	</div>
	{% endfor %}
</div>

<h2>Next-JS</h2>
<div class="masonry js-masonry"  data-masonry-options='{ "columnWidth": ".job", "itemSelector": ".job", "isFitWidth": true, "gutter": 10}'>
	
	{% for jobWithStatus in jobsWithStatuses %}
	<div class="job" style="background-color: {% if jobWithStatus.buildResultStatus == 'UNSTABLE' %} yellow {% elif jobWithStatus.buildResultStatus == 'SUCCESS' %} green {% elif jobWithStatus.buildResultStatus == 'FAILURE' %} red {% else %} gray {% endif %};">
	<!--	<a href="{{jobWithStatus.linkOnJenkins}}" target = "_blank"> -->
			<h3>{{jobWithStatus.jobName}} </h3> 
	<!--	</a> -->
		{% if jobWithStatus.isLastJobBuilding %}
		<img src="loading.gif" alt="Another Build is running .." width="100" height="100">
		{% endif %}
	</div>
	{% endfor %}
</div>

	{% if failuresWithCulprits.length > 0 %}
<div class='culprits'>
	<h2>Culprits</h2>
	<ul>
		{% for failure in failuresWithCulprits %}
			<li>{{failure|join(': ')}}</li>
		{% endfor %}
	</ul>
</div>
	{% endif %}



</body>
</html>